header.cover.bg-top {
  background-position-x: right;
  background-position-y: bottom;
  min-height: 100vh;
}

@media screen and (min-width: 30em) {
  header .f4-ns {
    font-size: 1rem;
  }
}


.site-title {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.pa3 {
  padding: 0.5rem;
}

/*decrease anchor size*/

a.f4.fw4.hover-white.no-underline.white-70.dn.dib-ns.pv2.ph3 {
  font-size: 1rem;
}

/*header font*/
#full-page-title {
  font: normal 60px "Open Sans", sans-serif;
}

/*fix small text on home page for mobile*/
h2.fw1.f5.f3-l.white-80.measure-wide-l.center.mt3 {
  font-size: 1.3rem;
}


/*remove large padding in posts*/
.pv5 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*more padding from bottom*/
.pb7 {
  padding-bottom: 1rem;
}

/*larger font homepage*/
h2.fw1.f5.f3-l.white-80.measure-wide-l.center.mt3 {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, .9);
}

/*edit post titles*/
@media screen and (min-width: 60em) {
  .f1-l {
    font-size: 3.5rem;
  }
}

/*label*/
.pink-label {
  background-color: #E91E63;
  color: #fff;
  padding: 4px;
}

/*change header padding*/
.tc-l.pv4.pv6-l.ph3.ph4-ns {
  padding-top: 1rem;
}

.twitter.link {
  position: relative;
  top: 3px;
}

/*fixing navbar*/
.pv3 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.shadow-page {
  text-shadow: 0 0 10px #000;
}













/*end*/
