header.cover.bg-top {
  background-position-x: right;
  background-position-y: bottom;
}

.pa3 {
  padding: 0.5rem;
}

/*decrease anchor size*/

a.f4.fw4.hover-white.no-underline.white-70.dn.dib-ns.pv2.ph3 {
  font-size: 1rem;
}

/*background image transparency*/

.bg-black-60 {
  background-color: rgba(0, 0, 0, .2);
}

/*fix small text on home page for mobile*/
h2.fw1.f5.f3-l.white-80.measure-wide-l.center.mt3 {
  font-size: 1.3rem;
}


* {
  font-family: Arial
}

/*remove large padding in posts*/
.pv5 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*more padding from bottom*/
.pb7 {
  padding-bottom: 1rem;
}

/*min height for background photo*/
.bg-black-60 {
  min-height: 600px;
}

/*larger font homepage*/
h2.fw1.f5.f3-l.white-80.measure-wide-l.center.mt3 {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, .9);
}

/*edit post titles*/
@media screen and (min-width: 60em) {
  .f1-l {
    font-size: 3.5rem;
  }
}

/*label*/
.pink-label {
  background-color: #E91E63;
  color: #fff;
  padding: 4px;
}
















/*end*/
